
<!DOCTYPE html>
<html>
    <title> Plot</title>
    <body>

        <div id="predict" class="text-center row p-2 justify-content-center"><div class="col-12 mb-3">
            <h2> Successful! </h2>
        </div>
        <div class="col-6">
            <div class="row justify-content-around">
                <div class=' border col-5 p-1 rounded bg-white'>
                    <a href="/forecast">Click Here For Forecast</a>
                </div>

            </div>
        </div>
        <img src={{url}} alt="Chart" height="auto" width="100%">
</html>